body::before {
  display: block;
  content: '';
  height: 60px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.gallery {
  padding: 80px 0;
}

.gallery-item {
  max-width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  cursor: pointer;
}

#gallery-modal, .modal-img {
  width: 100%
}

@media all and (max-width: 800px) {
  
}